<app-header></app-header>
<body>
    <mat-card class="position">
        <br>
        <form  [formGroup]="getform" style="text-align:center ;" (ngSubmit)="onSubmit()">
            <h2>Input</h2>
            <hr class="new"><br><br><img src="/Load.gif" class="imgpos">
            <input type="file" class="upload-box" name="file" accept=".csv" (change)="getFile($event)">
            <br><br>
            <button type="button" mat-stroked-button class="button_color" (click)="useSampleData()">Use Sample Data</button>
            <div *ngIf="fileName" class="filename">Selected: {{fileName}}</div>
            <br><br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >No.of months</mat-label>
                <input matInput placeholder="Ex. 12" formControlName="future">
                <mat-error *ngIf="future && future.invalid && future.touched" style="color: darkpink;">Prediction time is required </mat-error>
            </mat-form-field>
            <br><br>
            <mat-card-actions>
                <button [disabled]="getform.invalid" mat-raised-button class="button_color" (click)="startTimer()">Submit</button>
                <button [disabled]="getform.invalid" mat-raised-button class="button_color" (click)="forecast()">View data</button>
            </mat-card-actions>
            <br>
            <mat-progress-bar mode="determinate" [value]="progressbarValue" [color]="color"></mat-progress-bar>
        </form>
        
    </mat-card>
    
</body>